<h2>Eat-da-Plant_Burger-Yo!</h2>
<form class="create-form">

    <img src="https://experience-fresh.panasonic.eu/wp-content/uploads/2018/12/Panini-colorati-per-burger-enjoy-1.jpg"
        alt="Tasty vegan burgers">

    <div class="form-group">
        <input type="text" id="ca" name="name">
        <input type="button" id="ca" name="name" value="Submit">
        <P>Enter a burger you want to eat. Click the "submit" button.</P>
    </div>